<div class="container mt-4 home-page mb-5">
    <div class="header-title">
        <h1 class=" title text-center">URL SHORTENER EXAM</h1>
        <h6 class="sub-title text-center">This website is my exam for MyOrder Company by Metasit Boonying </h6>
    </div>
    <div class="generate-short-url-panel mb-4">
        <div class=" mb-4">
            <label class="form-label">Original Url</label>
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="originalUrl" placeholder="Enter your url here">
            <button class="btn btn-success" type="button" (click)="generateShortUrl()">Generate</button>
        </div>
        </div>
        <div class="w-full d-flex justify-content-center" *ngIf="loading">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
              </div>
        </div>
        <div class=" mb-3" *ngIf="shortUrl$ | async as shortUrl">
            <label class="form-label">Short Url</label>
            <div class="input-group">
                <input type="text" class="form-control" readonly [value]="shortUrl.shortUrl">
                <button class="btn btn-success" type="button" (click)="copyUrl(shortUrl.shortUrl)">{{isCopy?'Copied': 'Copy URL'}}</button>
            </div>
        </div>
    </div>
    <div class="short-url-history-panel">
        <app-short-url-history></app-short-url-history>
    </div>
</div>