.title{
    font-weight: bold;
    color: #3D5656;
    font-size: 2em;
}
.url-list{
    margin-bottom: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 0.5em;
}
.short-url{
    word-wrap: break-word;
}
.full-url{
    word-wrap: break-word;
}